/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el contenedor principal del perfil del usuario */
.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para la imagen de perfil */
.profile-image {
    margin-right: 20px;
}

#userImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ddd;
}

/* Estilos para la información del usuario */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.info-value {
    font-size: 18px;
    margin-right: 10px;
}

.edit-button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
/* Estilos para la imagen de perfil y el botón */
.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#userImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-bottom: 10px; /* Agrega margen inferior para separar el botón */
}

.edit-button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}